<a href="https://colab.research.google.com/github/rreghunandan/Sales-Data-Analysis/blob/main/GUVI_Data_Analysis_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import plotly as py

In [29]:
df=pd.read_excel('/content/DataAnalystTask.xls')

In [30]:
df.head()

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Sales Date,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
0,user1,Product1,Initiated,NaN,2022-08-01 04:55:00,2022-07-31,Direct,3999.0,NaN,INR,NaN
1,user2,Product2,Initiated,NaN,2022-08-01 04:46:00,2022-07-31,Direct,999.0,NaN,INR,NaN
2,user4,Product3,Initiated,NaN,2022-08-01 03:21:00,2022-07-31,Direct,1999.0,NaN,INR,NaN
3,user6,Product3,Initiated,NaN,2022-08-01 00:56:00,2022-07-31,Direct,1999.0,NaN,INR,NaN
4,user8,Product4,Initiated,NaN,2022-08-01 00:46:00,2022-07-31,Direct,2022.0,NaN,INR,NaN

In [31]:
df.shape # To check number of rows and columns

(9514, 11)

In [32]:
df.columns

Index(['User ID', 'Product Code', 'Payment Status', 'Coupon code',
       'Lead Registered Time', 'Sales Date', 'Source',
       'Product Amount with GST', 'Payment Mode', 'Currency  Code',
       'Transaction Bank'],
      dtype='object')

In [33]:
df.dtypes

User ID                            object
Product Code                       object
Payment Status                     object
Coupon code                        object
Lead Registered Time       datetime64[ns]
Sales Date                 datetime64[ns]
Source                             object
Product Amount with GST           float64
Payment Mode                       object
Currency  Code                     object
Transaction Bank                   object
dtype: object

Here lead registered time and sales date is in Datetime,so not reqired to convert.

In [34]:
df.set_index('Sales Date',inplace =True)

In [35]:
df.head()

,User ID,Product Code,Payment Status,Coupon code,Lead Registered Time,Source,Product Amount with GST,Payment Mode,Currency Code,Transaction Bank
Sales Date,,,,,,,,,,
2022-07-31,user1,Product1,Initiated,NaN,2022-08-01 04:55:00,Direct,3999.0,NaN,INR,NaN
2022-07-31,user2,Product2,Initiated,NaN,2022-08-01 04:46:00,Direct,999.0,NaN,INR,NaN
2022-07-31,user4,Product3,Initiated,NaN,2022-08-01 03:21:00,Direct,1999.0,NaN,INR,NaN
2022-07-31,user6,Product3,Initiated,NaN,2022-08-01 00:56:00,Direct,1999.0,NaN,INR,NaN
2022-07-31,user8,Product4,Initiated,NaN,2022-08-01 00:46:00,Direct,2022.0,NaN,INR,NaN

In [36]:
df.describe()  # Statistical Summary

       Product Amount with GST
count              9513.000000
mean               1464.982533
std                1277.535383
min                   4.680000
25%                 499.000000
50%                1499.000000
75%                1999.000000
max               29992.000000

In [37]:
df.isnull().sum() # To check null values

User ID                       0
Product Code                  0
Payment Status                0
Coupon code                8852
Lead Registered Time          0
Source                        0
Product Amount with GST       1
Payment Mode               7784
Currency  Code                0
Transaction Bank           9422
dtype: int64

Here coupon code ,payment mode and Transaction bank has null values and because its in a huge number the rows are dropped.

In [40]:
df.drop(["Coupon code","Payment Mode","Transaction Bank"],axis=1)

,User ID,Product Code,Payment Status,Lead Registered Time,Source,Product Amount with GST,Currency Code
Sales Date,,,,,,,
2022-07-31,user1,Product1,Initiated,2022-08-01 04:55:00,Direct,3999.00,INR
2022-07-31,user2,Product2,Initiated,2022-08-01 04:46:00,Direct,999.00,INR
2022-07-31,user4,Product3,Initiated,2022-08-01 03:21:00,Direct,1999.00,INR
2022-07-31,user6,Product3,Initiated,2022-08-01 00:56:00,Direct,1999.00,INR
2022-07-31,user8,Product4,Initiated,2022-08-01 00:46:00,Direct,2022.00,INR
...,...,...,...,...,...,...,...
2022-06-01,user7253,Product105,paid,2022-06-01 14:46:00,Direct,7.92,INR
2022-06-01,user7253,Product105,paid,2022-06-01 12:36:00,Direct,8.10,INR
2022-06-01,user7253,Product105,paid,2022-06-01 12:31:00,Direct,7.92,INR
2022-06-01,user10657,Product2,paid,2022-06-01 07:20:00,Direct,999.00,INR
2022-06-21,user10658,Product10,refund,2022-05-28 06:21:00,Direct,999.00,INR